In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('../data/AllBooks_baseline_DTM_Labelled.csv')
df.rename({"Unnamed: 0": "Religion"}, axis='columns', inplace=True)
df.head()

,Religion,foolishness,hath,wholesome,takest,feelings,anger,vaivaswata,matrix,kindled,...,erred,thinkest,modern,reigned,sparingly,visual,thoughts,illumines,attire,explains
0,Buddhism_Ch1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Buddhism_Ch2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Buddhism_Ch3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Buddhism_Ch4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Buddhism_Ch5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# removing _Chx
df.Religion = df.Religion.apply(lambda x: x[:x.rindex('_')])
df.tail()
df.shape

(590, 8267)

In [20]:
# remove row 13 (index 0)
df.drop(df.index[[13,]], inplace=True)
df.shape

(589, 8267)

In [21]:
# df = df.groupby(['Religion']).sum()
# df.shape

In [22]:
# save new csv data
df.to_csv('../data/data_after_1a.csv', sep=',', index=False)